*.iml
.gradle
.gradlew
.idea/
gradlew
gradle
gradlew.bat
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
keystore.properties
